/* ! ================ Home Page====================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color:  #FFE2E0;
    --primary-font: poppins, sans-serif;
}

html {
    font-family: var(--primary-font);
}


.icon {
    font-size: 25px;
}


/* ? ===================== Banner ============================ */



.banner {
    width: 100%;
    height: 590px;
    background-color: #FFE2E0;
} 

.banner_img {
    margin-top: 40px;
    width: 642px;
    height: 535px;
}
.banner_img img {
    width: 100%;
    height: 100%;
}


.banner-discount {
   font-size: 20px;

}


.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-price {
    color: var(--primary-color);
    font-size: 20px;
  }
  
  .btn-primary {
    background-color: rgb(20, 123, 134);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #e6453a;
  }

  .product_container {
    max-width: 100%; 
    margin: 0 auto; 
    background-color: #FFE2E0; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}